<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @team.abb %>
</p>

<p>
  <strong>Seed:</strong>
  <%= @team.seed %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
