<a href="<%= game_path(game) %>">
	<% unless game.home.nil? || game.away.nil? %>
			<span class="game_name">
				<%= game.home.seed.to_s + '-' + game.home.abb %>
			</span>
			<span class="game_score">
				<%= game.home_score %>
			</span>
			<br>
			<span class="game_name">
				<%= game.away.seed.to_s + '-' + game.away.abb %>
			</span>
			<span class="game_score">
				<%= game.away_score %>
			</span>
	<% else %>
		<%= game.game_number %>
	<% end %>
</a>