<div class="container">
	<div class="span1"><div>
	<div class="span10">
		<div class="row">
				<% @games.each do |game| %>
					<div class="col-sm-6 game_ht-medium">
					  <div class="game_ht-fill game_box">
						<span class="game_name">
							<strong><%= game.home_team %></strong>
						</span>
						<span class="game_score">
							<strong><%= game.home_score %></strong>
						</span>
						<br>
						<span class="game_name">
							<strong><%= game.away_team %></strong>
						</span>
						<span class="game_score">
							<strong><%= game.away_score %></strong>
						</span>
						
						<% @home_score = HomeScore.find_by(ones: game.home_score % 10) %>
						<% @away_score = AwayScore.find_by(ones: game.away_score % 10) %>
						<% @winner = Block.find_by(home_score: @home_score, away_score: @away_score) %>
						<% unless @winner.nil? || @winner.user.nil? %>
							<br>
							<span>
								<%= @winner.user.name %>
							</span>
						<% end %>
						
						<br>
						<% if !current_user.nil? %>
							<span><%= link_to 'Show', game %></span>
							<span><%= link_to 'Edit', edit_game_path(game) %></span>
							<span><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></span>
						<% end %>
					  </div>
					</div>
				<% end %>
			
			
		</div>
	</div>
	<div class="span1"><div>
</div>


<%= link_to 'New Game', new_game_path %>
