<p id="notice"><%= notice %></p>

<p>
  <strong>Game number:</strong>
  <%= @game.game_number %>
</p>

<p>
  <strong>Unique identifier:</strong>
  <%= @game.unique_identifier %>
</p>

<div class='container'>
	<div class='row'>
	  <% unless @game.home.nil? || @game.away.nil? %>
		<div class='col-sm-4'>
			<h1><%= @game.home.seed.to_s + ' - ' + @game.home.name %></h1>
		</div>
		<div class='col-sm-1'>
			<h1>vs.</h1>
		</div>
		<div class='col-sm-4'>
			<h1><%= @game.away.seed.to_s + ' - ' + @game.away.name %></h1>
		</div>
	  <% end %>
	</div>

	
	  <% unless @game.home.nil? || @game.away.nil? %>
	  <div class='row'>
		<div class='col-sm-4'>
			<h1><%= @game.home_score %></h1>
		</div>
		<div class='col-sm-1'>
		</div>
		<div class='col-sm-4'>
			<h1><%= @game.away_score %></h1>
		</div>
	  </div>
	  <% end %>
	
	<% @winner = @game.find_winner %>
	<% unless @winner.nil? || @winner.player.nil? %>
	<div class='row'>
		<div class='col-sm-9'>
			<h1><%= @winner.player.name %></h1>
		</div>
	</div>
	<% end %>
	
	

</div>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
