<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
	<%= f.label :blocks %><br>
	<%= select_tag "block_ids", options_from_collection_for_select( Block.all, 'id', 'label', {selected: @player.blocks.map(&:id), disabled: Block.unavailable_blocks(@player.id).map(&:id)} ), {:multiple=>true, :size=>6} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
