<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Blocks:</strong>
  <ul>
	  <% @player.blocks.each do |b| %>
		<li><%= "h:#{b.home_score.ones} | a:#{b.away_score.ones}" %></li>
	  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
