<p id="notice"><%= notice %></p>

<p>
  <strong>Ones:</strong>
  <%= @away_score.ones %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @away_score.display_order %>
</p>

<%= link_to 'Edit', edit_away_score_path(@away_score) %> |
<%= link_to 'Back', away_scores_path %>
